@model dynamic

<!DOCTYPE html>
<html>
<head>
    <title>Show Ticket</title>
</head>
<body>
    <h2>Ticket Details</h2>
    <p>Ticket ID: @Model.TicketId</p>
    <p>Details: @Model.TicketPrice</p>
    <p>Details: @Model.MeasureName</p>
    <a href="javascript:history.back()">Back</a>
</body>
</html>

